
body,h1,h2,h3,h4,h5 {
    font-family: "Poppins", sans-serif;
}
body {
    font-size:12px;
}
.w3-half img {
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer;
}
.w3-half img hover {
    opacity:1;
}
.sidebar {
    z-index:3;
    width:300px;
    font-weight:bold;
}

.page {
    margin-left:340px;
    margin-right:40px;
}
.header {
    margin-top:80px;
}
.round {
    width:50px;
    border:5px solid black;
}
.work {
    margin-top:75px;
}
.style {
    margin-top:75px;
}